.contact-container {
  background-color: black;
  color: white;
  min-height: 16vh;
  padding-top: 64px; /* Adjust as needed */
  padding-bottom: 64px; /* Adjust as needed */
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form .MuiTextField-root {
  margin-bottom: 16px;
}

.contact-form .MuiTextField-root input {
  color: white;
}

.contact-form .MuiTextField-root label {
  color: white;
}

.contact-form .MuiTextField-root .MuiFilledInput-root {
  background-color: #424242; /* Adjust color as needed */
  border-radius: 4px;
  &:after {
    border-bottom-color: white; /* Change focus color here */
  }
}

.contact-form .MuiFilledInput-root.Mui-focused {
  background-color: #333333; /* Optionally, change the background color on focus */
}

.contact-form .MuiButton-root {
  margin-top: 16px; /* Adjust as needed */
  background-color: #424242; /* Adjust color as needed */
}

.contact-form .MuiButton-root:hover {
  background-color: #373737; /* Adjust color as needed */
}

.contact-header {
  position: relative; /* Required for the absolute positioning of the pseudo-element */
  display: inline-block; /* Makes the element only as wide as its content */
  margin-bottom: 6vh; /* Spacing below the header, adjust as needed */
  border-bottom: none; /* Remove the existing underline if any */
}

.contact-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px; /* Adjust as needed to position the line */
  height: 2px; /* Thickness of the underline */
  background-color: white; /* Color of the underline */
}
