.navbar-content {
  position: relative; /* Required for absolute positioning of the pseudo-element */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Full width */
  padding-top: 10px;
}

.navbar-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Center the line */
  width: 100%; /* Adjust this width to control the length of the bottom border */
  height: 2px; /* Height of the border */
  background-color: white;
  transform: translateX(
    -50%
  ); /* Center the line with respect to the container */
}

/* New CSS for making social media items cursor pointer */
.social-media-item {
  cursor: pointer;
}

.about-link {
  color: black !important; /* Override color for visited links */
}

.about-link:visited {
  color: black !important; /* Keep visited links white */
}

.contact-link {
  color: black !important; /* Override color for visited links */
}

.contact-link:visited {
  color: black !important; /* Keep visited links white */
}

.resume-link {
  color: black !important; /* Override color for visited links */
}

.resume-link:visited {
  color: black !important; /* Keep visited links white */
}
