.home-container {
  max-width: 1200px;
  margin: auto;
  background-color: black; /* Set background to black */
  color: white; /* Set text color to white */
  padding-top: 5vh; /* Adjust top padding for space above the navbar */
}

.home-top-section {
  border-top: 2px solid white;
  background-color: black; /* Ensuring the background is black */
  margin-top: 10vh; /* This adds space between the top and bottom sections */
  margin-bottom: 10vh; /* This adds space between the top and bottom sections */
  border-bottom: 2px solid white; /* White line at the bottom */
}

.home-image-box {
  height: 350px; /* Adjust the height to match your design */
  background: url("../../../assets/avatar.png") no-repeat center center / cover;
  border-left: 2px solid white;
  position: relative; /* For the bottom white line */
  border-bottom: 2px solid white; /* White line at the bottom */
}

.home-header-text {
  padding: 20px;
}

.home-bottom-box {
  padding-left: 20vh;
  padding-right: 20vh;
  background-color: black; /* Ensure the background is black */
}

.home-project-image {
  height: 16vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
}

.home-project-title {
  text-align: center; /* Center the title text */
}

/* Styles for the individual project images */
.nft-website {
  background: url("../../../assets/project1.png") no-repeat center center /
    cover;
}

.knowledge-generator {
  background: url("../../../assets/project2.png") no-repeat center center /
    cover;
}

.chat-app {
  background: url("../../../assets/project3.png") no-repeat center center /
    cover;
}

body {
  background-color: black; /* Set your body background to black if it's not already */
  margin: 0; /* Remove default margin */
}
